* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: blanchedalmond;
}

.heading {
    width: 100%;
    display: block;
    margin-top: 1rem;
}

.heading h1 {
    text-align: center;
    color: blueviolet;
    padding: 1rem;
    font-size: 50px;
    margin-top: 1rem;
}

.wrapper {
    background-color: black;
    margin: 2rem;
    border-radius: 2rem;
    height: 110vh;
}

.gallery-img {
    display: none;
    max-height: 600px;
    width: 100%;
    margin-top: 6rem;
}

.active {
    display: block;
}

.image-gallery {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-img {
    width: 100%;
    max-width: 1080px;
    object-fit: cover;
    border-radius: 3rem;
}

.btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.btn {
    background-color: bisque;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.prev {
    margin-right: 2rem;
}

.btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

@media only screen and (max-width: 425px) {
    .wrapper {
        max-width: 87%;
        height: 120vh;
    }
    .heading h1 {
        font-size: 25px;
        margin-right: 30px;
        text-align: center;
    }
    .gallery-img {
        width: 80%;
    }
    .image-gallery {
        height: 50vh;
        width: 80vw;
    }
    .active {
        height: 60vh;
    }
    .btns {
        margin-top: 7rem;
    }
}